In [1]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [2]:
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [3]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [4]:
inside

[1, 2, 3, 1, 2, 3]

In [5]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [6]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [7]:
df

             A         B
G1 1 -1.102872 -0.697883
   2  1.157279 -0.745206
   3  0.602386 -1.522243
G2 1 -0.544921 -0.011452
   2  1.089741 -0.775763
   3  1.100954 -1.512848

In [11]:
df.index.names = ['Groups','Numbers']

In [12]:
df

                       A         B
Groups Numbers
G1     1       -1.102872 -0.697883
       2        1.157279 -0.745206
       3        0.602386 -1.522243
G2     1       -0.544921 -0.011452
       2        1.089741 -0.775763
       3        1.100954 -1.512848

In [15]:
df.loc['G2'].loc[2]['B']

-0.7757629934454459

In [16]:
df.loc['G1'].loc[3]['A']

0.6023858691681148

In [20]:
df.index.names = ['Groups','Num']

In [21]:
df.xs(1,level='Num')

               A         B
Groups
G1     -1.102872 -0.697883
G2     -0.544921 -0.011452